
body{background-color: #e4f9f5;}
hr{border-style: none;
   border-top: dotted;
   border-width: 5px;
   height: 0;
   width: 10%;
   border-color: grey;
   }
h1{
   color: #66bfbf;
}
h3{
   color: #66bfbf;
}